<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947412985554-b2a2ckspeu3fru42jva6e1asp24trutb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947412985554-b2a2ckspeu3fru42jva6e1asp24trutb</string>
	<key>API_KEY</key>
	<string>AIzaSyDljIWvUBtWkY-oByjkxu1dkPMUh3a1j7s</string>
	<key>GCM_SENDER_ID</key>
	<string>947412985554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>homeasdas.Movie-Training</string>
	<key>PROJECT_ID</key>
	<string>my-projects-37889</string>
	<key>STORAGE_BUCKET</key>
	<string>my-projects-37889.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947412985554:ios:0310e2de2605e9b7</string>
	<key>DATABASE_URL</key>
	<string>https://my-projects-37889.firebaseio.com</string>
</dict>
</plist>